DOCKER_NETWORK_DRIVER=bridge
DOCKER_NETWORK_PARENT=
DOCKER_NETWORK_NAME=interoperability_network
DOCKER_SUBNET=172.30.0.0/24
DOCKER_GATEWAY=172.30.0.1

YUI_RELAYER_CONTAINER=yui-relayer
YUI_RELAYER_RUNTIME=../yui-relayer/runtime
